<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-home") %>>
        <a class="back" href="/docs/providers/index.html">All Providers</a>
      </li>

      <li<%= sidebar_current("docs-arukas-index") %>>
        <a class="back" href="/docs/providers/arukas/index.html">Arukas Provider</a>
      </li>

      <h4>Data Sources</h4>

      <li<%= sidebar_current("docs-arukas-resource") %>>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-arukas-resource-container") %>>
            <a href="/docs/providers/arukas/r/container.html">arukas_container</a>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>

  <div class="alert alert-warning" role="alert">
    <strong>NOTE:</strong> Arukas' beta service will end on July 31, 2017.
    After that, official service will be started(however, the release date is undecided).
    We plan to upgrade this provider after official service starts.
    Until that time, this provider will not be maintained.
  </div>

  <%= yield %>
<% end %>
